body {
    background-color: rgba(10,10,10,0.93);
    background-image: url("Iron-Maiden-Emblem.png");
    background-repeat: no-repeat;
    background-size: 78%;
    background-attachment: fixed;
    background-position: center;

    height: 100%;
    margin: 0;
    font-family: "Century Gothic", sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(10,10,10,0.93);
    height: 9%;
    width: 100%;

    position: fixed;
    top: 0;
    z-index: 1000;

}
.navbar .nav-links {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    width: 30%;
    flex-wrap: wrap;
}
.navbar .nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: 40;
    transition: color 0.3s;
}
.navbar .nav-links li a:hover {
    color: rgba(249,0,26,0.94)
}
.sign{
    display: flex;
    position: fixed;
    bottom: 0;
    right: 3px;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    color: white;
    z-index: 1000;
    text-align: right;
    background-color: rgba(10,10,10,0.93);
}


/*home*/
.boxes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
    padding-top: 6%;
    padding-bottom: 6%;
}
.tekst-box{
    background: rgba(22,21,21,0.93);
    color: white;
    width: 90%;
    max-width: 700px;
    height: 20%;
    padding: 2%;
    margin: 15px;
    border-radius: 15px;
    overflow-y: scroll;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.93);
    overflow-wrap: break-word;
    word-wrap: break-word;

}
.tekst-box h1{
     color: rgba(214,16,16,0.94);
     font-size: 100%;
 }
.tekst-box::-webkit-scrollbar {
    width: 10px;
}
.tekst-box::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 10px;
}
.tekst-box::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}
.aside_front{
    display: flex;
    align-self: flex-start;
    justify-content: flex-end;
    width: 100%;
    height: 95%;
    margin: 0;
    /*top: 0;*/
    right: 6%;
    /*position: absolute;*/
    z-index: 100;

    padding-top: 6%;
    padding-bottom: 9%;
    position: fixed;

}
.aside-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: rgba(22,21,21,0.93);
    color: white;
    margin: 15px;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.93);
    overflow-wrap: break-word;
    word-wrap: break-word;
    width: 70%;
    max-width: 700px;
    height: 80%;
    word-break: break-word;
    overflow-y: scroll;

}
.aside-box::-webkit-scrollbar {
    width: 10px;
}
.album_box::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 10px;
}
.aside-box::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}

/*galeria*/
.album_layout{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding-top: 6%;
    padding-bottom: 6%;
}
.album_box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    background: rgba(10, 10, 10, 0.84);
    color: white;
    width: 20%;
    max-width: 20%;
    height: auto;
    box-shadow: 0 0 6px rgba(0,0,0,0.93);
    cursor: pointer;
}
.album_box img{
    width: 100%;
    display: block;
}
.album_box:hover{
    color: rgba(249,0,26,0.94);
    box-shadow: 0 0 5px rgba(249,0,26,0.94);
    transform: scale(1.05);

}
.modal{
    display: none;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    box-shadow: 0 0 5px rgba(249,0,26,0.94);

    justify-content: center;
    align-items: center;
}
.modal_video{
    position: relative;
    background: rgba(10,10,10,0.93);
    padding: 5%;
    width: 60%;
    max-width: 1000px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_video iframe{
    width: 560px;
    height: 315px;
    border: none;
    /*padding-bottom: 56.25%;*/


}
.close{
    position: absolute;
    top: 5%;
    right: 5%;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

/*kontakt*/
.band_layout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    width: 100%;
    padding-top: 6%;
    padding-bottom: 6%;
}
.band_box{
    display: flex;
    flex-direction: column;
    background: rgba(22,21,21,0.93);
    color: white;
    width: 30%;
    max-width: 80%;
    height: 70%;
    padding: 2%;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.93);
    overflow-wrap: break-word;
    word-wrap: break-word;

}
.band_box h1{
    color: rgba(214,16,16,0.94);
    font-size: 100%;
}
.band_box h2{
    font-size: 90%;
}
.contact-box {
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background: rgba(22,21,21,0.93);
    color: white;
    width: 100%;
    max-width: 80%;
    height: 100%;
    padding: 2%;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.93);
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.contact-box input,
.contact-box textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #444444;
    color: white;
    margin-bottom: 15px;
}
.contact-box button {
    background: rgba(249,0,26,0.94);
    color: black;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}
.contact-box button:hover {
    background: rgba(214,16,16,0.94);
}
.contact-box select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #555;
    color: white;
    margin-bottom: 15px;
}





